.header__movies {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  box-sizing: border-box;
  line-height: 0;
  padding: 18px 70px;
  margin: 0 auto;
  color: #000;
}

.header__menu_movies {
  width: 100%;
}

.header__movies-link {
  color: #000;
  font-size: 13px;
  line-height: 1.38;
  font-weight: 400;
  text-decoration: none;
}

.header__movies-link_home {
  font-weight: 500;
  position: absolute;
  top: 10px;
  left: 82px;
}

.header__movies-link_saved {
  position: absolute;
  top: 10px;
  left: 152px;
}

.header__movies-link:hover {
  cursor: pointer;
  opacity: 0.7;
}

.header__link-btn {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.header__link-btn:hover {
  cursor: pointer;
  opacity: 0.8;
}

.header__icon {
  font-size: 14px;
  line-height: 1.14;
  box-sizing: border-box;
  object-fit: cover;
  padding: 0;
  margin: 0 7px 0 0;
}

.header__btn-account {
  width: 100px;
  height: 32px;
  font-size: 14px;
  line-height: 1.14;
  font-weight: 500;
  text-align: center;
  box-sizing: border-box;
  border-radius: 50px;
  border: 2px solid #aaa;
  background: #fff;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__btn-account:hover {
  cursor: pointer;
  opacity: 0.8;
}

.header__burger-menu {
  display: none;
}

@media screen and (max-width: 984px) {
  .header__movies {
    padding: 15px 30px;
  }

  .header__movies-link {
    display: none;
  }

  .header__link-btn {
    display: none;
  }

  .header__burger-menu {
    display: block;
    position: relative;
  }

  .header__burger-btn {
    width: 44px;
    height: 44px;
    background: url(../../../images/burger-menu.svg) no-repeat;
    box-sizing: border-box;
    background-color: transparent;
    background-size: cover;
    border: 0;
    padding: 0;
    margin: 0;
  }
}

@media screen and (max-width: 715px) {
  .header__movies {
    padding-left: 14px;
    padding-right: 14px;
    padding-bottom: 16px;
  }

  .header__burger-btn {
    background: url(../../../images/burger-small.svg);
    width: 40px;
    height: 43px;
  }
}
